.generalContainer {
	height: 100vh;
}

.sectionProfile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 4rem;
	padding: 0 4rem;
}

.imageProfile {
	clip-path: circle();
}
.typeWriteFxContainer1 {
	margin-top: 2rem;
}

.typeWriteFxContainer1,
.typeWriteFxContainer2 {
	text-align: center;
	position: relative;
}

.typeWriteFx1,
.typeWriteFx2 {
	display: block;
	font-family: 'Space Mono', monospace;
	font-size: 1.3rem;
	width: max-content;
}

.typeWriteFx1::before,
.typeWriteFx2::before,
.typeWriteFx1::after,
.typeWriteFx2::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.typeWriteFx1::before {
	background-color: black;
	animation: typeWriter1 6s 1s steps(25) forwards;
}

.typeWriteFx2::before {
	background-color: black;
	animation: typeWriter2 6s 7s steps(24) forwards;
}

.typeWriteFx1[data-dark='false']::before {
	background-color: white;
}
.typeWriteFx2[data-dark='false']::before {
	background-color: white;
}

.typeWriteFx1[data-dark='false']::after {
	background-color: black;
}
.typeWriteFx2[data-dark='false']::after {
	background-color: black;
}

.typeWriteFx1::after {
	animation: typeWriter1 6s steps(24) 1s forwards, blink 750ms steps(24) infinite;
	width: 0.125rem;
	background-color: white;
}
.typeWriteFx2::after {
	animation: typeWriter2 6s 7s steps(24) forwards, blink 750ms 6s steps(24) infinite;
	width: 0.125rem;
	background-color: white;
	visibility: hidden;
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes typeWriter1 {
	to {
		left: 100%;
		visibility: hidden;
	}
}
@keyframes typeWriter2 {
	to {
		left: 100%;
		visibility: visible;
	}
}
